<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="../css/reset.css">
	<link rel="stylesheet" href="../css/adm.css">
	<link rel="stylesheet" href="../css/list.css">
	<link href="../css/style.css" rel='stylesheet' type='text/css' />
	<script src="../js/jquery-1.10.1.js"></script>
	<script src="../js/underscore.js"></script>
</head>

<body>
	<h1>Pink Contact Form</h1>
	<div class="login-01">
		<div id="main">
			<div id="rside">
				<form action="" method="post">
					<input type="hidden" name="uid" value="" class="delId">
					<table>
						<tr>
							<td>ID</td>
							<td>姓名</td>
							<td>email</td>
							<td>留言内容</td>
							<td>操作</td>
						</tr>
								<tr>
									<td></td>
									<td></td>
									<td><span class="badge"></span></td>
									<td></td>
									<td><button type="submit" class="del">删除</button></td>
									<td><a href="javascript:;" class="update">编辑</a></td>
								</tr>
						</table>
				</form>
			</div>
		</div>
	</div>
	<!--start-copyright-->
	<div class="copy-right">
		<div class="wrap">
			<p>Copyright &copy; 2015 留言板</p>
		</div>
	</div>
	<!--//end-copyright-->
	<div class="update-wrap">
		<div class="login-01">
			<form action="" method="post">
				<ul>
					<input type="hidden" name="id" id="updateId" value="">
					<li class="first">
						<a href="#" class=" icon user"></a><input type="text" class="text" id="name" name="name"
							value="" onFocus="this.value = '';"
							onBlur="if (this.value == '') {this.value = 'Name';}">
						<div class="clear"></div>
					</li>
					<li class="first">
						<a href="#" class=" icon email"></a><input type="text" id="email" name="email" class="text"
							value="" onFocus="this.value = '';"
							onBlur="if (this.value == '') {this.value = 'Email';}">
						<div class="clear"></div>
					</li>
					<li class="second">
						<a href="#" class=" icon msg"></a><textarea value="Message" name="content" onFocus="this.value = '';"
							onBlur="if (this.value == '') {this.value = 'Comments';}" id="text"></textarea>
						<div class="clear"></div>
					</li>
				</ul>
				<input type="button" value="off" id="off">
				<input type="submit" value="Submit" id="update">
				<div class="clear"></div>
			</form>
		</div>
	</div>
</body>


</html>